<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockStrategiX</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {% block header %}
        <div class="bg-blue-900 w-full h-20 justify-center flex items-center">
            <h1 class=" text-white text-4xl ">StockStrategiX</h1>
        </div>
        <br>
        {% endblock %}
    </header>
    <main>

        {% block content %}
    
        {% endblock %}
    </main>

</body>
</html>