{% extends 'app_pages/base.html' %}


{% block content %}

<body>

    <!-- <div class="w-full mx-2 max-w-sm p-4 bg-blue-900 border border-gray-900 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 ">
        <form action="#" method="post" id="myForm">
            <div>
                <label for="stockname" class="mx-1 block mb-2 text-sm font-medium text-white dark:text-white">Stock name</label>
                <input type="text" name="stock-name" placeholder="enter stock name" class=" bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div>
                <label for="qty" class="block mb-2 text-sm font-medium text-white dark:text-white">Quantity</label>
                <input type="number" name= "stock-quantity" placeholder="Enter qty"  min=1 class="bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-white dark:text-white">Transaction Date</label>
                <input type="date" name="start-date" class="bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                
            </div>
            <br>
            <div class="flex justify-center">
                    <input type="submit" name="buy" value="Buy" class="mx-2 bg-black text-white font-semibold px-4 py-1 rounded-full cursor-pointer border-4 border-white">
                    <input type="submit" name="sell" value="Sell" class="mx-2 bg-black text-white font-semibold px-4 py-1 rounded-full cursor-pointer border-4 border-white">
            </div>
        </form>
        </div> -->

    <h2 class="text-xl font-semibold mx-1">Portfolio details: </h2>
    <br>
    <div class="flex">
        <input type="text" name="search" id="search" placeholder="Search stk name" class="mx-1 px-2 border border-black rounded font-bold"/>
        <input type="submit" name="insights" value="Insights" class=" bg-blue-900 text-white font-semibold px-4 py-1 rounded cursor-pointer ml-auto mx-2">
    <br>
    </div>
    <br>
    <div class="mx-20 ">
        <table id="stable" class=" w-full table-fixed border-collapse ">
            <tr class="text-xl">
                <th class="border border-black px-4 py-2">Index</th>
                <th class="border border-black px-4 py-2">Username</th>
                <th class="border border-black px-4 py-2"> Stock Name
                    <select class="table-filter">
                        <option value="all"></option>
                    </select>
                </th>
                <th class="border border-black px-4 py-2">Quantity</th>
                <th class="border border-black px-4 py-2">Buy Price</th>
                <th class="border border-black px-4 py-2">Total investment</th>
                <th class="border border-black px-4 py-2">Current Market Price</th>
                <th class="border border-black px-4 py-2">Value at CMP</th>
                <th class="border border-black px-4 py-2">Profit/Loss</th>
            </tr>

            <tbody>
            {% for row in rows %}
                <tr class="hover:bg-blue-800 hover:text-white font-medium">
                    <th class="border border-black px-4 py-2">{{loop.index}}</th>
                    <th class="border border-black px-4 py-2">{{row[1]}}</th>
                    <th class="border border-black px-4 py-2">{{row[2]}}</th>
                    <th class="border border-black px-4 py-2">{{row[3]}}</th>
                    <th class="border border-black px-4 py-2">{{row[4]}}</th>
                    <th class="border border-black px-4 py-2">{{row[5]}}</th>
                    <th class="border border-black px-4 py-2">{{row[6]}}</th>
                    <th class="border border-black px-4 py-2">{{row[7]}}</th>
                    <th class="border border-black px-4 py-2">{{row[8]}}</th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>


    <div class="text-xl font-semibold mx-1">
        <h3>Total investement done: {{sumlist[0]|round(2)}} </h3>
        <h3>Todays market price: {{sumlist[1]|round(2)}} </h3>
        <h3>Profit/Loss amount: {{sumlist[2]|round(2)}}</h3>
        <h3>Profit/Loss Percentage: {{sumlist[3]}}</h3>
    </div> 
    <br>
    <form action="#" method="post" id="portfolio-back">
    <input type="submit" name="back" id="back-button" value="Go back" class="mx-1 bg-blue-900 text-white font-semibold px-4 py-1 rounded cursor-pointer">
    </form>
    <script>
        const searchInput= document.getElementById("search")
        const rows1= document.querySelectorAll("#stable tbody tr")

    searchInput.addEventListener('keyup', function(event){
        // console.log(event);
        const q=event.target.value.toLowerCase();
        rows1.forEach((row2)=>{
            console.log(row2.querySelector('th:nth-child(3)'))
            row2.querySelector('th:nth-child(3)').textContent.toLowerCase().startsWith(q) ? (row2.style.display="table-row") : 
            (row2.style.display='none')
        });
    });
    </script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


</body>

{% endblock %}







